[submodule "src/motor_interfaces"]
	path = src/motor_interfaces
	url = https://github.com/Legohead259/MicroROS-ESC-Interfaces
	branch = main

[submodule "src/micro_ros_setup"]
	path = src/micro_ros_setup
	url = https://github.com/micro-ROS/micro_ros_setup.git
	branch = iron

[submodule "src/micro_ros_rtt"]
	path = src/micro_ros_rtt
	url = https://github.com/micro-ROS/micro-ROS-rtt.git
